In [2]:
import pandas as pd
import numpy as np

In [326]:
data=pd.read_csv('data/03_District_wise_crimes_committed_against_children_2001_2013.csv')
data_population=pd.read_csv('data/Population2001_11.csv')
data1=data
data=data[data['DISTRICT'] == 'TOTAL']
data_total.head()

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping and Abduction,Foeticide,Abetment of suicide,Exposure and abandonment,Procuration of minor girls,Buying of girls for prostitution,Selling of girls for prostitution,Prohibition of child marriage act,Other Crimes,Total
28,ANDHRA PRADESH,TOTAL,2001,35.0,84.0,57.0,0.0,7.0,22.0,12.0,0.0,0.0,6.0,47.0,270
42,ARUNACHAL PRADESH,TOTAL,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
70,ASSAM,TOTAL,2001,0.0,0.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18
115,BIHAR,TOTAL,2001,2.0,16.0,26.0,0.0,0.0,1.0,16.0,1.0,1.0,2.0,18.0,83
137,GOA,TOTAL,2001,1.0,10.0,6.0,0.0,0.0,3.0,2.0,0.0,0.0,0.0,12.0,34

In [328]:
temp=data1[data1['STATE/UT']=='DADRA NAGAR HAVELI']
temp=temp[temp['Year']==2013]
temp=temp.iloc[:,3:]
for i in temp:
    print(sum(temp[i]),end=' ')

0 0 0 0 0 0 0 0 0 0 0 0

In [330]:
for row in data_population.values:
    state=row[0]
    base_population=row[1]
    base_litracy=row[3]
    diffPop=row[5]
    diffLitracy=row[6]
    for i in range(2001,2013):
        new_data=np.array([])
        new_data=np.append(new_data,state)
        new_data=np.append(new_data,i)
        change=(i-2001)*diffPop
        curr_population=base_population+change
        new_data=np.append(new_data,curr_population)
        change=(i-2001)*diffLitracy
        curr_litracy=base_litracy+change
        new_data=np.append(new_data,curr_litracy)
        data_crime=data[data['STATE/UT'].str.upper()==state].values
        normalized_crime=(data_crime[i-2001][14]/curr_population)*100000
        new_data=np.append(new_data,normalized_crime)
        new_data=pd.DataFrame(new_data)
        new_data=new_data.transpose()
        new_data=new_data.iloc[0,:].values
        new_data=pd.DataFrame(new_data,index=None, columns=None).transpose()
        new_data.to_csv('children-animation.csv',mode='a', header=False)

In [166]:
data.iloc[:,14]

0        0
1       66
2        0
3        0
4        0
        ..
9833     0
9834     0
9835     4
9836    43
9837    47
Name: Total, Length: 9838, dtype: int64

In [4]:
data=pd.read_csv('data/42_District_wise_crimes_committed_against_women_2001_2012.csv')
data_population=pd.read_csv('data/Population2001_11.csv')
data1=data
data=data[data['DISTRICT'] == 'TOTAL']
data.head()

,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
28,ANDHRA PRADESH,TOTAL,2001,871,765,420,3544,2271,5791,7
42,ARUNACHAL PRADESH,TOTAL,2001,33,55,0,78,3,11,0
70,ASSAM,TOTAL,2001,817,1070,59,850,4,1248,0
115,BIHAR,TOTAL,2001,888,518,859,562,21,1558,83
135,CHHATTISGARH,TOTAL,2001,959,171,70,1763,161,840,0

In [6]:
for row in data_population.values:
    state=row[0]
    base_population=row[1]
    base_litracy=row[3]
    diffPop=row[5]
    diffLitracy=row[6]
    for i in range(2001,2013):
        print()
        new_data=np.array([])
        new_data=np.append(new_data,state)
        new_data=np.append(new_data,i)
        change=(i-2001)*diffPop
        curr_population=base_population+change
        new_data=np.append(new_data,curr_population)
        change=(i-2001)*diffLitracy
        curr_litracy=base_litracy+change
        new_data=np.append(new_data,curr_litracy)
        data_crime=data[data['STATE/UT'].str.upper()==state].values
        normalized_crime=(data_crime[i-2001][14]/curr_population)*100000
        new_data=np.append(new_data,normalized_crime)
        new_data=pd.DataFrame(new_data)
        new_data=new_data.transpose()
        new_data=new_data.iloc[0,:].values
        new_data=pd.DataFrame(new_data,index=None, columns=None).transpose()
        new_data.to_csv('women-animation.csv',mode='a', header=False)

2001

IndexError: index 0 is out of bounds for axis 0 with size 0